@model Huihuibao.Models.TimeTable

@{
    ViewData["Title"] = "Details";
}

<h2>Details</h2>

<div>
    <h4>TimeTable</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.DateTime)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.DateTime)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Applied)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Applied)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Assigned)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Assigned)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.ApplicationUser)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.ApplicationUser.Id)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model.TimeTableId">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>
