@model IEnumerable<Huihuibao.Models.TimeTable>

@{
    ViewData["Title"] = "Check";
}

<h2>Check</h2>

<table class="table">
    <thead>
        <tr>
                <th>
                    @Html.DisplayNameFor(model => model.DateTime)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Applied)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Assigned)
                </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.DateTime)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Applied)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Assigned)
            </td>
        </tr>
}
    </tbody>
</table>
